<!DOCTYPE html>
<html lang="en" ng-app="pizzaIceCream">
  <head>
    <meta charset="UTF-8">
    <title>Slices & Scoops</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/PizzasController.js"></script>
    <script src="controllers/IceCreamController.js"></script>
    <script src="services/PricingFactory.js"></script>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>Slices & Scoops</h1>
      <div ng-controller="PizzasCtrl">
        <div class="row">
          <div class="col-md-6">
            <div class="well">
              <h3>Slices</h3>
              <form ng-submit="FoodFactory.totalPrice()" class="form-inline" role="form">
                <div class="form-group">
                  <input ng-model="FoodFactory.quantity" type="text" class="form-control" placeholder="Enter number of slices">
                </div>
                <button type="submit" class="btn btn-default">Enter</button>
              </form>
              <h3>Total:</h3>

                <p ng-repeat="item in pizzas">{{item.quantity}} {{item.cost}}</p>
            </div>
          </div>

          <div ng-controller="PizzaCtrl">
            <div class="col-md-6">
              <div class="well">
                <h3>Scoops</h3>
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <input ng-model="item.quantity" type="text" class="form-control" placeholder="Enter number of scoops">
                  </div>
                  <button type="submit" class="btn btn-default">Enter</button>
                </form>
                <h3>Total:</h3>
                  <p>{{item.quantity}} {{item.cost}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
